@layout FileDropLayout

@namespace FileFlows.Client.Pages.FileDrop
@inherits InputRegister

@page "/file-drop/general"

<PageView Title="@lblTitle" Icon="fas fa-cogs" FormPage="true">

<Head>
    <button id="settings-save" class="btn" @onclick=@Save>
        @if(IsSaving)
        {
            @lblSaving
        }
        else
        {
            @lblSave
        }
    </button>

    <button @onclick=@OpenHelp  class="btn btn-help">
        @lblHelp
    </button>
</Head>

<Body>
<div class="settings">
    @if (initDone)
    {
        <InputSwitch @bind-Value="Model.Enabled" Label="Labels.Enabled" Help="Turn on to enable FileDrop."/>
        <InputNumber TItem="Int32" @bind-Value="Model.CustomPort" Min="1" Max="65535"
                     Label="Port" Help="The port FileDrop will be accessible on."
                     ReadOnly="@(Profile.ServerOS is OperatingSystemType.Docker)"/>
        <InputPeriod @bind-Value="Model.SessionExpireInMinutes"
                     Label="Session Length"
                     Help="How long users will be logged in for before needing to reauthenticate."
                     Seconds="false"/>
        <InputSwitch @bind-Value="Model.AllowRegistrations" Label="Allowed Registrations" Help="If new users can be registered."/>
        <InputSwitch @bind-Value="Model.RequireEmailVerification" Label="Require Email Verification" Help="If Forms users require to verify their email address before their accounts will be created." />
             
    }
</div>
</Body>
</PageView>