@layout FileDropLayout

@namespace FileFlows.Client.Pages.FileDrop
@inherits InputRegister

@page "/file-drop/passwords"

<PageView Title="@lblTitle" Icon="fas fa-shield-alt" FormPage="true">

    <Head>
        <button id="settings-save" class="btn" @onclick=@Save>
            @if(IsSaving)
            {
                @lblSaving
            }
            else
            {
                @lblSave
            }
        </button>

        <button @onclick=@OpenHelp  class="btn">
            @lblHelp
        </button>
    </Head>

    <Body>
    @if (initDone)
    {
        <p>
            Configure the password requirements for users.
        </p>
        <InputSlider @bind-Value="Model.FormsMinLength" Min="2" Max="20" Label="Password Length" Help="The minimum password length."/>
        <InputSwitch @bind-Value="Model.FormsRequireDigits" Label="Require Digits" Help="If user passwords require digits."/>
        <InputSwitch @bind-Value="Model.FormsRequireMixedCase" Label="Require Mixed Casing" Help="If user passwords require a mixture of lower and upper case characters."/>
        <InputSwitch @bind-Value="Model.FormsRequireSpecialCharacters" Label="Require Special Characters" Help="If user passwords require a special character."/>
    }
    </Body>
</PageView>