@namespace FileFlows.Client.Components.Inputs


@inherits Input<List<CustomField>>

<div class="wrapper">
    <FlowTable @ref="Table" Data="Value"
               TItem="CustomField" Selection="SelectionMode.Multiple" DoubleClick="@Edit" TableIdentifier="CustomFields"
    >
        <ToolBar>
            <FlowTableButton Clicked=AddField Icon="fas fa-plus" Label="Labels.Add" />
            <FlowTableButton Clicked=Edit SelectedOne="true" Icon="fas fa-edit" Label="Labels.Edit" />
            <FlowTableButton Clicked=Delete SelectedOneOrMore="true" Icon="fas fa-trash" Label="Labels.Delete" />
            <FlowTableButtonSeparator />
            <FlowTableButton Clicked=MoveUp Icon="fas fa-arrow-up" Label="Pages.AccessControl.Buttons.MoveUp" SelectedOneOrMore="true" />
            <FlowTableButton Clicked=MoveDown Icon="fas fa-arrow-down" Label="Pages.AccessControl.Buttons.MoveDown" SelectedOneOrMore="true" />
        </ToolBar>

        <Columns>
            <FlowTableColumn TItem="CustomField">
                <Header>
                    @Globals.lblName
                </Header>
                <Cell Context="item">
                    <span>@item.Name</span>
                </Cell>
            </FlowTableColumn>
            <FlowTableColumn TItem="CustomField" Width="12rem">
                <Header>
                    Type
                </Header>
                <Cell Context="item">
                    <span>@item.Type</span>
                </Cell>
            </FlowTableColumn>
        </Columns>
    </FlowTable>
</div>

<Editor @ref="CustomFieldEditor" />