@namespace FileFlows.Client.Components.Common

<div class="slider-wrapper">
    @if(string.IsNullOrEmpty(Prefix) == false)
    {
        <span class="prefix">@Prefix</span>
    }
    <div class="range">
        <input id=@Uid type="range" @bind-value="Value" @bind-value:event="oninput" min="@Min" max="@Max" style="direction:@(Inverse ? "rtl" : "unset")" />
    </div>

    @if (HideValue == false)
    {
        <div class="value">
            @Value @Suffix
        </div>
    }
</div>