@namespace FileFlows.Client.Components.Common

<div>
    <input id="@Uid" @ref="eleInput" type="text" @bind-value="Value" @bind-value:event="oninput" 
           autocomplete="off" @onblur="Blur" />
</div>