
ul.library-type {
  list-style: none;
  padding: 0;
  --border-radius:0.75rem;

  li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    cursor: pointer;
    border-radius: var(--border-radius);;
    overflow: hidden;
    padding: 0.5rem 0.5rem 0.5rem 0;
    
    + li {
      margin-top:1rem;
    }
    
    .info {
      display: flex;
      flex-direction: column;
    }

    i {
      font-size: 2.5rem;
      width: 5rem;
      min-width: 5rem;
      text-align: center;
    }

    span {
      font-weight: bold;
    }

    p {
      margin: 0;
      font-size: 0.9rem;
      color: gray;
    }

    &.clickable-radio:hover {
      background-color: var(--base);
    }

    border: solid 1px transparent;
    border-left-width: var(--border-radius);
    
    &.active {
      border-color: var(--accent);
    }
  }
}