*/bin
*/obj
*.suo
*.sqlite
obj/
bin/
Server/Plugins/
VideoTests/*
zpublish/*
wpublish/*
dockerbuild.ps1
/.vs/FileFlows
dockerbuild-public.ps1
docker.xml
*.user
/xdemopublish
/Server/Properties/PublishProfiles/Default Settings.pubxml
*.backup
/deploy
/build/installer/fileflows-node-install.iss
/build/installer/install.iss
/build/Installers/.vs/FileFlowInstallers/v17/TestStore/0
/packages
/build/Installers/.vs
/build/Installers/WindowsServerInstaller/wix
/ffmpeg
/ffmpeg-release-amd64-static.tar.xz
/Server/Logs
/Server/wwwroot/i18n
*.plugininfo
/Server/encryptionkey.txt
/Server/updates
/Server/FileFlows.log
build/deploy/
build/temp/
Node/Logs/
temp/
.idea/
gitversion.txt
Server/Nodes/
Logs/
Data/
Server/appsettings.development.json
*.map
docs/css/*.css

*.scssc
Builds/
.DS_Store
