@namespace FileFlows.Client.Components.Dialogs.Wizards

@if (Visible)
{
    <div class="background-overlay flow-modal-background-overlay"></div>

    <div class="flow-modal flow-modal-wizard" style="@Styling">
        <div class="flow-modal-inner">
            <div class="flow-modal-title">
                <span>@Title</span>
            </div>
            <div class="flow-modal-body">
                @Body
            </div>
            <div class="flow-modal-footer">
                
            </div>
        </div>
    </div>
}