@namespace FileFlows.Client.Components.Dialogs

<Editor @ref="Editor"></Editor>
@if (Visible && Editor != null)
{
    <div class="background-overlay flow-modal-background-overlay"></div>

    <div class="flow-modal" style="@Styling">
        <div class="flow-modal-inner">
            <CascadingValue IsFixed="true" Value="Editor">
                <div class="flow-modal-title">
                    <span>@Title</span>
                </div>
                <div class="flow-modal-body">
                    @Body
                </div>
                <div class="flow-modal-footer">
                    @Footer
                </div>
                <Blocker @ref="Blocker" />
            </CascadingValue>
        </div>
    </div>
}