.flow-bar {
    height: 1rem;
    position: relative;
    top: 10px;
    width:calc(100% - 10px);
}
.header {
    display:flex;
    span {
        flex-grow:1;
    }
}

.btn-search.non-mobile {
    position: absolute;
    top: 1rem;
    right: 2rem;
    min-width: 8rem;
}

@media (max-width: 849.99px)
{
    .btn-search {
        position: fixed;
        top: 0.75rem;
        z-index: 1000000;
        right: .5rem;
        width: 9rem;
        border-color: var(--border-color);
    }    
}
@media (max-width:310px){
    .btn-search {
        width: unset;
    }
}
.column-header {
    visibility:hidden;
}
.filters {
    display:flex;
}

@media (max-width:540px){
    .filters {
        display:none;
    }
    .column-header {
        visibility: unset;
    }
}

::deep {
    .flowtable-row{
        border: unset !important;
        padding: unset !important;
        &:hover {
            background: unset !important;
        }
    }
}
