.processing-node {
  display:flex;
  flex-direction: row;
  padding-bottom: 0.75rem;
  font-size: 0.8rem;
  position: relative;
  margin: 0.75rem;
  border-radius: var(--container-border-radius);
  overflow: hidden;
  border: solid 1px var(--border-color);
  &.disabled {
    opacity: 0.5;
  }
  span.icon {
    position: relative;
    align-self: center;
    margin-right:1rem;
    width: 7rem;
    text-align: center;
    ::deep img {
      height: 4rem;
      object-fit: contain;
      padding: 0 1rem;
      max-width: 5rem;
    }
    ::deep i {
      font-size: 2.5rem;
      position: relative;
      top: -0.5rem;
    }
    .architecture {
      position: absolute;
      bottom: -0.2rem;
      font-size: 0.9rem;
      border-radius: 0.5rem;
      padding: 0 0.5rem;
      left: 50%;
      transform: translateX(-50%);
      line-height: 1.25;
      font-weight: var(--bold, 600);
      color: white;
      background-color: var(--primary);
    }
  }
  .summary, .center {
    .name {
      padding-bottom: 0.25rem;
      display: inline-block;
      @media (min-width: 850px) {
        font-size: 1.2rem;
        font-weight: var(--bold, 600);
      }
    }
    @media (min-width: 850px) {
      .hardware-info-item {
        display: flex;
        flex-direction: row;
        padding: 0.2rem 0;

        .label {
          font-weight: var(--bold, 600);
          width: 10rem;
          min-width: 10rem;
        }

        .value {
          margin-left: 0.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 849.99px) {
  .processing-node {
    padding-left: 0 !important;
    > .icon {
      position: absolute !important;    
      left: 0.5rem;
      margin-right: 0 !important;
      width: 5rem !important; 
    }
    .hardware-info, .hardware-info-item {
      display:none;
    }
    .center {
      min-height: unset !important;
    }
    .runners {
      right: 0;
      left: unset;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0;
    }
  }
}
@media screen and (min-width:600px) and (max-width: 849.99px) {
  .processing-node {
    .name {
      padding: 1.5rem 0 2.5rem 5.5rem !important;
    }
    > .icon {
      top: 0.5rem;
    }   
  }  
}
@media screen and (max-width: 600px) {
  .processing-node {
    .name {
      padding: 0 0 0 5.5rem !important;
    }
  }
}

.priority,.runners {
  position: absolute;
  background: var(--border-color);
  left: 0;
  font-weight: var(--bold, 600);
  padding: 0.25rem 0.75rem;
  user-select: none;
  display: flex;
  align-items: center;
  i {
    font-size:1rem;
    margin-right:0.25rem;
  }
}

.priority
{
  top: 0;
  border-bottom-right-radius: 0.5rem;
}
.runners {
  bottom: 0;
  border-top-right-radius: 0.5rem;
  @media (max-width: 600px) {
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem !important;
    line-height: 1rem;
  }
}
.top-right {
  font-size: 1rem;
  @media (max-width: 600px) {
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem !important;
    line-height: 1rem;
  }
  &.status-version-mismatch {
    background-color: var(--warning);
  }
  &.status-out-of-schedule {
    background-color: var(--purple);
  }
  &.status-maximum-runners-reached {
    background-color: var(--green);
  }
  &.status-installing-docker-mods {
    background-color: var(--blue);
  }
}

.list-page-item {
  border: unset;
  padding: 0;
  margin: 0;
  width: 100%;
  border-radius: 0;
  .center {
    width: 100%;
    min-height: 8rem;
    align-content: center;
  }
  .hardware-info-item {
    padding: 0 !important;
  }
  .enable-switch {
    align-self: center;
    padding-top: 2rem;
    padding-right: 3rem;
  }
}