.report-description {
  margin:0 0 2rem 1rem;
}

.mode-output {
  overflow: auto;
  height: 100%;
  .report-form {
    display:none;
  }
}

.report-buttons {
  margin: -0.5rem 0.25rem 1rem;
  text-align: right;
  .btn {
    min-width: 8rem;
  }
}