.btn-download-node {
  width:auto !important;
}

.page-node-list {
  height:100%;

  ::deep .flowtable-body {
    .flowtable-row {
      position: relative;
      padding-left: 0;
      border-left: solid 3px transparent;
      left:-3px;
      &.selected {
        border-left-color: var(--accent);
      }

      .flowtable-select {
        position: absolute;
        left: 1rem;
      }
    }
    
    .processing-node {
      padding-left: 3.5rem;
    }

    span.no-height {
      padding: 0 !important;
    }
  }
}