@media (max-width: 849.99px)
{
  .popup-panel-button, .popup-panel {
    display: none;
  }
}

.popup-panel-button {
  position: fixed;
  top: 0.6rem;
  right: 1rem;
  cursor: pointer;
}
.popup-panel {
  position: fixed;
  top: 3.25rem;
  right: 1rem;
  display: none;
  background: var(--base-lighter);
  border: solid 1px var(--border-color);
  box-shadow: 0 0 0.8rem rgb(82 82 82 / 52%);
  border-radius: 0.5rem;
  overflow: hidden;
  max-width: 60rem;
  min-width: min(30rem, 80vw);
  &.visible {
    display: grid;
    grid-template-rows:1fr auto;
    z-index:10000;
    &.is-processing.has-notifications .popup-panel-main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      .notifications {
        border-left: 1px solid var(--border-color);
      }
    }
  }
  .popup-panel-main {
    padding: 1rem;
  }
  ::deep {
    .no-runners {
      display: none;
    }
  }
  .notification {
    margin: 0.5rem 0.5rem 0 0.5rem;
    background: var(--base-lightest);
    border-left: solid 0.3rem;
    display: grid;
    grid-template-columns: 2rem 1fr;
    min-height: 3rem;
    align-content: center;
    background: var(--base-darker);
    border-radius: 0.5rem;
    padding: 1rem;

    &.information {
      border-color: var(--info);
      .toast-icon {
        color:var(--info);
      }
    }

    &.error {
      border-color: var(--error);
      .icon {
        color:var(--error);
      }
    }

    &.warning {
      border-color: var(--warning);
      .icon {
        color:var(--warning);
      }
    }

    &.success {
      border-color: var(--success);
      .icon {
        color:var(--success);
      }
    }
  }
}

.empty {
  text-align: center;
  padding:2rem;
}

.hidden {
  display:none;
}

.runners {
  display: flex;
  flex-direction: column;
  max-height: min(22rem, 50vh);
  overflow: auto;
}

.popup-panel-bottom {
  border-top: 1px solid var(--border-color);
  background: var(--base);
  display: flex;
  flex-direction: column;
  align-items: center;
  > div {
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding:0.5rem 1rem;
  }
  .version {
    flex-grow:1;
    text-align: left;
  }
  a {
    + a {
      margin-left: 0.5rem;
    }
    flex: 1 1 0;
    color:var(--color) !important;
    text-align: center;
    text-decoration: none;
    background: var(--base-lightest);
    border-radius: 1rem;
    overflow: hidden; 
    display: inline-flex;
    align-items: center;
    font-size: 0.9rem;
    white-space: nowrap;
    place-content: center;
    flex-wrap: wrap;
    padding: 0.75rem;
  }
  i {
    font-size: 1.5rem;
    cursor:pointer;
    margin-right:0.5rem;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
}

.external-link + .user-link {
  border-left:solid 1px var(--border-color);
}