@media (max-width: 849.99px)
{
  .popup-panel-button, .popup-panel {
    display: none;
  }
}

.popup-panel-button {
  position: fixed;
  top: 0.6rem;
  right: 1rem;
  cursor: pointer;
}
.popup-panel {
  position: fixed;
  top: 3.25rem;
  right: 1rem;
  display: none;
  background: var(--base-lighter);
  border: solid 1px var(--border-color);
  box-shadow: 0 0 0.8rem rgb(82 82 82 / 52%);
  border-radius: 0.5rem;
  overflow: hidden;
  &.visible {
    display: grid;
    grid-template-rows:1fr auto;
    z-index:10000;
    &.is-processing.has-notifications .popup-panel-main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      .notifications {
        border-left: 1px solid var(--border-color);
      }
    }
  }
  .popup-panel-main {
    padding: 1rem;
  }
  ::deep {
    .no-runners {
      display: none;
    }
    .runner-content {
      .details {
        display: none;
      }
    }
  }
  .notification {
    margin: 0.5rem 0.5rem 0 0.5rem;
    background: var(--base-lightest);
    border-left: solid 0.3rem;
    display: grid;
    grid-template-columns: 2rem 1fr;
    min-height: 3rem;
    align-content: center;
    background: var(--base-darker);
    border-radius: 0.5rem;
    padding: 1rem;

    &.information {
      border-color: var(--info);
      .toast-icon {
        color:var(--info);
      }
    }

    &.error {
      border-color: var(--error);
      .icon {
        color:var(--error);
      }
    }

    &.warning {
      border-color: var(--warning);
      .icon {
        color:var(--warning);
      }
    }

    &.success {
      border-color: var(--success);
      .icon {
        color:var(--success);
      }
    }
  }
}

.hidden {
  display:none;
}

.runners {
  display: flex;
  flex-direction: column;
  max-height: 10rem;
  overflow: auto;
}

.popup-panel-bottom {
  border-top: 1px solid var(--border-color);
  background: var(--base);
  padding: 1rem;
  text-align: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  .version {
    flex-grow:1;
    text-align: left;
  }
  a {
    height: fit-content;
    display: inline-block;
  }
  i {
    font-size: 2rem;
    cursor:pointer;
    padding: 0 1rem;
    color:var(--color);
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
}

.external-link + .user-link {
  border-left:solid 1px var(--border-color);
}