@media (max-width: 849.99px) {
  .popup-panel-button, .popup-panel {
    display: none;
  }
}
.popup-panel-button {
  position: fixed;
  top: 0.6rem;
  right: 1rem;
  cursor: pointer;
}
.popup-panel-button.opened {
  background: var(--base-lighter) !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-color: var(--base-lighter) !important;
  z-index: 1001;
}

.popup-panel {
  position: fixed;
  top: calc(3rem - 4px);
  right: 1rem;
  display: none;
  background: var(--base-lighter);
  border: solid 1px var(--border-color);
  box-shadow: 0 0 0.8rem rgba(82, 82, 82, 0.52);
  border-radius: 0.5rem 0 0.5rem 0.5rem;
  overflow: hidden;
  max-width: 60rem;
  min-width: min(36rem, 80vw);
}
.popup-panel.visible {
  display: grid;
  grid-template-rows: 1fr auto;
  z-index: 1000;
}
.popup-panel.visible.is-processing.has-notifications .popup-panel-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.popup-panel.visible.is-processing.has-notifications .popup-panel-main .notifications {
  border-left: 1px solid var(--border-color);
}
.popup-panel .popup-panel-main {
  padding: 1rem;
}
.popup-panel .notification {
  margin: 0.5rem 0.5rem 0 0.5rem;
  background: var(--base-lightest);
  border-left: solid 0.3rem;
  display: grid;
  grid-template-columns: 2rem 1fr;
  min-height: 3rem;
  align-content: center;
  background: var(--base-darker);
  border-radius: 0.5rem;
  padding: 1rem 2rem 1rem 1rem;
  position: relative;
}
.popup-panel .notification.information {
  border-color: var(--info);
}
.popup-panel .notification.information .toast-icon {
  color: var(--info);
}
.popup-panel .notification.error {
  border-color: var(--error);
}
.popup-panel .notification.error .icon {
  color: var(--error);
}
.popup-panel .notification.warning {
  border-color: var(--warning);
}
.popup-panel .notification.warning .icon {
  color: var(--warning);
}
.popup-panel .notification.success {
  border-color: var(--success);
}
.popup-panel .notification.success .icon {
  color: var(--success);
}
.popup-panel .notification .close {
  position: absolute;
  top: 1.35rem;
  right: 1rem;
  color: var(--color) !important;
  opacity: 0.5;
  cursor: pointer;
  font-size: 0.8rem;
}
.popup-panel .notification .close:hover {
  opacity: 1;
}

.empty {
  text-align: center;
  padding: 2rem;
}

.hidden {
  display: none;
}

.runners {
  display: flex;
  flex-direction: column;
  max-height: min(22rem, 50vh);
  overflow: auto;
}

.popup-panel-bottom {
  border-top: 1px solid var(--border-color);
  background: var(--base);
  align-items: center;
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 0.75rem;
}
.popup-panel-bottom .version {
  flex-grow: 1;
  text-align: left;
}
.popup-panel-bottom .support a {
  border-radius: 2rem;
}
.popup-panel-bottom a {
  color: var(--color) !important;
  text-decoration: none;
  background: var(--base-lightest);
  padding: 0.75rem;
  display: inline-flex;
  overflow: hidden;
}
.popup-panel-bottom .user a {
  text-align: center;
  border-radius: 1rem;
  align-items: center;
  font-size: 0.9rem;
  white-space: nowrap;
  place-content: center;
  flex-wrap: wrap;
}
.popup-panel-bottom .user a i {
  margin-right: 0.5rem;
}
.popup-panel-bottom .user a + a {
  margin-left: 0.25rem;
}
.popup-panel-bottom i {
  font-size: 1.5rem;
  cursor: pointer;
  opacity: 0.7;
}
.popup-panel-bottom i:hover {
  opacity: 1;
}

.external-link + .user-link {
  border-left: solid 1px var(--border-color);
}

/*# sourceMappingURL=PopupPanel.razor.css.map */
