@layout FileDropLayout

@namespace FileFlows.Client.Pages.FileDrop
@inherits InputRegister

@page "/file-drop/home-page"

<PageView Title="@lblTitle" Icon="fas fa-home" FormPage="true" Flex="true">

    <Head>
        <button id="settings-save" class="btn" @onclick=@Save>
            @if(IsSaving)
            {
                @lblSaving
            }
            else
            {
                @lblSave
            }
        </button>

        <button @onclick=@OpenHelp  class="btn btn-help">
            @lblHelp
        </button>
    </Head>

    <Body>
    @if (initDone)
    {
        <p>Here you can customise the home page for logged in users and set the custom HTML to show to the user.</p>
        <p>If this is left blank, then the user will not have a home page and the first alphabetical flow will be their defacto landing page.</p>

        <InputCode Language="html" @bind-Value="Model"/>
    }
    </Body>
</PageView>