@namespace FileFlows.Client.Components.Widgets

@if (Runners is { Count: > 0 })
{
    foreach (var runner in Runners)
    {
        <FileCard Model="runner" Minimal="true" />
    }
}
else
{
    <div class="no-runners">
        <i class="fas fa-bed"></i>
        <span>@Translater.Instant("Pages.Dashboard.Widgets.Status.Idle")</span>
    </div>
}