.configuration-layout {
  width: 100%;
  height: 100%;

  @media (min-width: 850px) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display:grid;
    grid-template-columns: 17rem 1fr;
    grid-gap: 0;
    
    .configuration-layout-menu {
      overflow: auto;
      background: var(--base-darker);
      border-right: solid 1px var(--border-color);
      display: flex;
      flex-direction: column;
      
      ul {
        flex-grow: 1;
        list-style: none;
        margin: 0;
        padding: 0;

        a {
          color: var(--color) !important;
        }
      }
    }
    .config-content {
      padding:1rem;
      height: 100%;
      overflow: hidden auto;
      &:has(> .flowtable) {
        overflow: hidden;        
      }
      ::deep .row {
        margin:0.5rem 0 !important;
      }
      &:has(> .row) {
        padding: 1rem 2rem; 
      }
      &:has( > .skybox) {
        display: grid;
        grid-template-rows: auto 1fr;
      }
    }
  }

  .nav-menu-container {
    flex: 1;
    user-select: none;
    display: flex;
    flex-direction: column;

    .nav {
      flex: 1;
    }
  }

  .nav {
    .icon {
      text-align: center;
      margin-right: 0.5rem;
      display: inline-flex;
    }

    .fas, .far, .fab {
      width: 1.5rem;
      font-size: 0.9rem;
    }
  }

  .nav-menu-group, .nav-item {
    a {
      font-weight: normal;
    }
  }

  .nav-menu-group {
    padding: 1rem 0 0.5rem 1rem;
    display: inline-flex;
    align-items: end;

    .icon {
      display: none;
    }
  }

  .nav-item {
    position: relative;
    overflow: hidden;
    display: inline-flex;

    .icon {
      color: var(--menu-icon-color);
    }

    a {
      padding: 0.5rem 0.5rem 0.5rem 2rem;
      width: 100%;
      display: flex;
      align-items: center;
      color: var(--color) !important;
      border-right: solid 1px transparent;

      &.active {
        background-color: rgba(255, 255, 255, 0.05);
        border-color: var(--accent);

        &:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          width: 120%;
          height: 120%;
          background: rgba(255, 255, 255, 0.1);
          border-radius: 50%;
          transform: translate(-50%, -50%) scale(0);
          pointer-events: none;
          animation: ripple 0.3s linear;
        }
      }

      &:hover {
        background-color: rgba(104, 104, 104, 0.075);
      }
    }
  }


  .version-info {
    text-align: center;
    padding: 1rem;

    a {
      font-weight: unset !important;
      color: rgba(var(--color-rgb), 0.4) !important;

      &:hover {
        color: var(--color) !important;
        text-decoration: none;
      }
    }
  }
}

@media screen and (min-width: 850px){
  .active-item {
    display: none;
  }
  .configuration-layout-menu {
    height: 100%;
    .configuration-layout-menu {
      padding-top: 2.5rem;
    }
  }
  
  ::deep
  {
    .page-view .top-row {
      display:none !important;
    }
  }
}

@media screen and (max-width: 849.99px){
  .version-info {
    display: none;
  }
  ::deep .top-row {
    display: none !important;
  }
  .active-item {
    padding:1rem;
    background:var(--base);
    font-size:1.5rem;
    width: 100vw;
    display: block;
    border-bottom:solid 1px var(--border-color);
    i {
      margin-right:0.5rem;
      + i {
        color:var(--accent);
      }
    }
  }
  .configuration-layout {
    grid-template-rows: 1fr auto;
    display: grid;
    height: calc(100vh - 7rem);
  }
  .config-content {
    overflow: auto;
  }
  .configuration-layout-menu {
    height: unset;
  }
  #ul-nav-menu {
    z-index: 10;
    position: absolute;
    background: var(--base-darker);
    top: 4rem;
    left: 0;
    right: 0;
    bottom: -1rem;
    display: none;
    overflow: auto;
    &.opened {
      display:unset;
    }
  }
  .nav-menu-group, .nav-item {
    width: 100%;
  }
}
