
.log {
    overflow: auto;
    flex-grow: 1;
    overflow-anchor: none;
    white-space: pre;
    font-family: monospace;
    font-size: 0.9rem;
    margin: 1rem 0.5rem 1rem 0;

    ::deep {
        .log-date {
            color: var(--pink);
        }

        .log-severity {
            font-weight: var(--bold, 600);

            &.info {
                color: var(--info);
            }

            &.warning {
                color: var(--yellow);
            }

            &.error {
                color: var(--red);
            }

            &.debug {
                color: var(--green);
            }
        }
    }
}