@namespace FileFlows.Client.Components

@{
    string? title = string.IsNullOrEmpty(Title) == false ? Title : Menu?.Active?.Title;
}
<ViContainer Title="@title" Icon="@(Icon?.EmptyAsNull() ?? Menu?.Active?.Icon)" FullWidth=@FullWidth Flex="Flex" 
             ClassName="@GetClassName()" PageView="true">
    <HeadLeft>
        @HeadLeft
    </HeadLeft>

    <Head>
        @Head
    </Head>

    <Body>
        @Body
    </Body>
</ViContainer>