@namespace FileFlows.Client.Components

<form class="search-pane @(Visible ? "visible" : "hidden")" @onsubmit=@Search>
    <div class="search-head">
        <span class="title">@lblSearch</span>
        <span class="close"></span>
    </div>
    <div class="search-fields">
        @ChildContent
    </div>

    <div class="search-submit">
        @if (App.Instance.IsMobile)
        {
            <button class="btn" onclick="blur()">@lblSearch</button>
        }
        else
        {
            <button class="btn">@lblSearch</button>
        }
    </div>
</form>