.toast-container {
  position: fixed;
  top: 3.5rem;
  right: 1.5rem;
  z-index: 9999;
}

.ff-toast {
  position: relative;
  margin-bottom: 0.75rem;
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--color);
  background-color: var(--base-lighter);
  border-left: 0.25rem solid;
  box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: translateX(100%);
  opacity: 0;

  &.show {
    transform: translateX(0);
    opacity: 1;
  }
  
  &.hide {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  &.info, &.Info {
    border-color: var(--info);
    .toast-icon {
      color:var(--info);
    }
  }

  &.error, &.Error {
    border-color: var(--error);
    .toast-icon {
      color:var(--error);
    }
  }

  &.warn, &.Warning {
    border-color: var(--warning);
    .toast-icon {
      color:var(--warning);
    }
  }

  &.success, &.Success {
    border-color: var(--success);
    .toast-icon {
      color:var(--success);
    }
  }

  .toast-icon, .toast-close {
    position: absolute;
    top: 1rem;
  }
  .toast-icon {
    left: 10px;
  }

  .toast-content {
    display: flex;
    align-items: center;
  }

  .toast-message {
    margin: 0 1.5rem;
    width: 20rem;
  }

  i, svg {
    margin-right: 0.75rem;
    color: inherit;
  }
  svg {
    width: 1rem;
    position: relative;
    top: 0.1rem;
    left: 0.15rem;
  }

  .toast-close {
    right: 0.75rem;
    color:var(--color) !important;
    opacity: 0.5;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
}
  