.flow-wizard
{
  display:flex;
  flex-direction:row;
  flex-grow:1;
  margin: auto;
  max-width: min(90vw, 60rem);
  height: min(90vh, 40rem);

  background: var(--base-lighter);
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0 3rem #2d2d2d;
}

.modal-wizard {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(70rem, 90vw);
  min-width: min(70rem, 90vw);
  height: min(45rem, 90vh);
  min-height: min(45rem, 90vh);
  box-shadow: none;
  .flow-wizard-buttons {
    background-image:none;
  }
}

.flow-wizard-buttons {
  display: flex;
  position:relative;
  flex-direction: column;
  padding-top: 5rem;
  width: 18rem;
  background: var(--base-lightest);
  background-image: url('/logo-color-full.svg');
  background-position: center top 1.25rem;
  background-repeat: no-repeat;
  background-size: 11rem;
}


.wizard-button {
  width: 100%;
  overflow-x: hidden;
  text-overflow: ellipsis;
  cursor:pointer;
  padding:1rem 2rem;
  opacity: 0.7;
  border-left: solid 2px transparent;
  i {
    margin: 0 0.5rem;
  }

  &.indented {
    padding-left:3rem;
  }

  &.active {
    font-weight:var(--bold, 600);
    opacity: 1;
    border-left-color: var(--accent);
  }
  &:hover:not(.disabled) {
    opacity: 1;
  }
  &.disabled {
    opacity: 0.3;
    cursor:not-allowed;
  }
}
.flow-wizard:not(.disabled) {
  .wizard-button:hover {
  }
}
.flow-wizard.disabled {
  .wizard-button.active:hover {
    cursor:default;
  }
}

.page-description {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: solid 1px var(--border-color);
  font-size: 1.25rem;
  font-weight: var(--bold, 600);
  text-align: center;
}

.flow-wizard-content {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding:1rem;
  display:flex;
  flex-direction: column;
}

.flow-wizard-navigation-buttons {
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding-right: 1rem;
  padding-top: 1rem;

  > span {
    border: solid 1px var(--accent);
    width: 8rem;
    display: block;
    text-align: center;
    padding: 0.25rem;
    cursor: pointer;
    user-select: none;

    + span {
      margin-left: 0.5rem;
    }

    &.disabled {
      cursor: not-allowed;
      border-color: var(--border-color);
      opacity: 0.7;
    }
  }
}