@page "/reporting"

@namespace FileFlows.Client.Pages

<FlowSkyBox TItem="bool" Items="SkyboxItems" OnSelected=@SetSelected NoCount="true" />

<div style="flex-grow:1;@(ScheduledReportsSelected ? "display:none" : "")">
    <Reports />
</div>

<div style="flex-grow:1;@(ScheduledReportsSelected ? "" : "display:none")">
    <ScheduledReports />
</div>