@inherits LayoutComponentBase

@namespace FileFlows.Client.Shared

<div class="page">
    
    <NavBar @ref="Menu"/>

    <div class="main">
        @if (Blocker != null && Menu != null && Editor != null)
        {
            <CascadingValue Value="Menu" IsFixed="true">
                <CascadingValue Value="Blocker" IsFixed="true">
                    <CascadingValue Value="Editor" IsFixed="true">
                        @Body
                    </CascadingValue>
                </CascadingValue>
            </CascadingValue>
        }

        <Blocker @ref="Blocker"></Blocker>
    </div>
</div>


<Editor @ref="Editor"></Editor>

@if (Blocker != null)
{
    <CascadingValue Value="Blocker" IsFixed="true">
        <RevisionExplorer/>
        <AuditHistory/>
        <AuditEntryViewer/>
    </CascadingValue>
}

<FileFlows.Client.Components.Dialogs.Confirm/>
<FileFlows.Client.Components.Dialogs.MessageBox/>
<FileFlows.Client.Components.Dialogs.Prompt/>
<FileFlows.Client.Components.Dialogs.SelectDialog/>
<FileFlows.Client.Components.Dialogs.PausePrompt/>
<FileFlows.Client.Components.Dialogs.ImportDialog/>
<FileFlows.Client.Components.Dialogs.UsedByDialog/>
<FileFlows.Client.Components.ModalRenderer/>
<FileFlows.Client.Components.Toast/>