.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    background:var(--main-background);
}

.sidebar {
    background-color: var(--nav-menu-background);
    border-right:1px solid var(--border-color);
    z-index:3;
}


@media (min-width: 850px) {
    .page {
        flex-direction: row;
    }    

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
        display:flex;
        flex-direction: column;
    }

    .main {
        position: relative;
        overflow: hidden;
    }
}
.expand-collapse {
    display:none;
}
@media screen and (min-width:850px) 
{
    .expand-collapse {
        display:unset;
        position: absolute;
        top: 1rem;
        cursor: pointer;
        left: 248px;
        border: solid 1px var(--border-color);
        width: 1.25rem;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        border-left: solid 2px var(--nav-menu-background);
        background: var(--nav-menu-background);
        font-size: 0.8rem;
        padding-left: 0.25rem;
        color: rgba(var(--color-rgb), 0.3);
        &:hover {
            color:var(--color);
        }
    }
    .collapsed .expand-collapse {
        left: calc(3.5rem + 2px);
    }

    .sidebar.collapsed {

        width: 3.75rem !important;

        ::deep {
            .nav-menu-container {
                margin-top: 0.75rem;
            }
            .navbar {
                padding:0;
            }

            .navbar-brand {
                margin: 0 !important;
                position: relative;
                left: 8px;
                background-image: url('/favicon.svg');
                width: 2.5rem;
                height: 2.5rem;
                background-size: cover;
                background-repeat: no-repeat;
                svg, img {
                    display:none;
                }
                i {
                    display:none;
                }
            }

            .nav-menu-group {
                display: none;
            }

            .nav-item {
                padding-left: 0 !important;

                a {
                    padding-left: 0.4rem !important;
                    span {
                        text-align-last: center;
                    }
                }
            }

            .text-label {
                display: none;
            }

            li.nav-item {
                transition: width 0.2s ease;
                position: relative;

                .text-label {
                    position: absolute;
                    left: 4rem;
                }

                &:not(:hover) {
                    width: 3.75rem;
                }

                &:hover {
                    width: 12rem;

                    .text-label {
                        display: unset;
                    }

                    a {
                        background-color: var(--nav-menu-background);
                        border: solid 1px var(--accent);
                        border-left: none;
                        font-weight:var(--bold, 600);
                    }
                }
            }

            .version-info {
                display: none !important;
            }
        }
    }
}


@media screen and (max-width:849.99px)
{
    .page {
        display:grid;
        grid-template-rows: 1fr auto;
        grid-gap: 1rem;
        .main {
            overflow: hidden;
            position: relative;
            grid-row-start: 1;
        }
        ::deep {
            .nav-bar {
                grid-row-start: 2;
            }
        }
    }
}