.page {
  position: relative;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  background: var(--main-background);
}

.sidebar {
  background-color: var(--nav-menu-background);
  border-right: 1px solid var(--border-color);
  z-index: 3;
}

@media (min-width: 850.001px) {
  .page {
    flex-direction: row;
  }
  .sidebar {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
  }
  .main {
    position: relative;
  }
}
.expand-collapse {
  display: none;
}

@media screen and (min-width: 850.001px) {
  .expand-collapse {
    display: unset;
    position: absolute;
    top: 1rem;
    cursor: pointer;
    left: 248px;
    border: solid 1px var(--border-color);
    width: 1.25rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-left: solid 2px var(--nav-menu-background);
    background: var(--nav-menu-background);
    font-size: 0.8rem;
    padding-left: 0.25rem;
    color: rgba(var(--color-rgb), 0.3);
  }
  .expand-collapse:hover {
    color: var(--color);
  }
  .collapsed .expand-collapse {
    left: calc(3.5rem + 2px);
  }
  .sidebar.collapsed {
    width: 3.75rem !important;
  }
  .sidebar.collapsed ::deep .nav-menu-container {
    margin-top: 0.75rem;
  }
  .sidebar.collapsed ::deep .navbar {
    padding: 0;
  }
  .sidebar.collapsed ::deep .navbar-brand {
    margin: 0 !important;
    position: relative;
    left: 8px;
    background-image: url("/favicon.svg");
    width: 2.5rem;
    height: 2.5rem;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .sidebar.collapsed ::deep .navbar-brand svg, .sidebar.collapsed ::deep .navbar-brand img {
    display: none;
  }
  .sidebar.collapsed ::deep .navbar-brand i {
    display: none;
  }
  .sidebar.collapsed ::deep .nav-menu-group {
    display: none;
  }
  .sidebar.collapsed ::deep .nav-item {
    padding-left: 0 !important;
  }
  .sidebar.collapsed ::deep .nav-item a {
    padding-left: 0.4rem !important;
  }
  .sidebar.collapsed ::deep .nav-item a span {
    text-align-last: center;
  }
  .sidebar.collapsed ::deep .text-label {
    display: none;
  }
  .sidebar.collapsed ::deep li.nav-item {
    transition: width 0.2s ease;
    position: relative;
  }
  .sidebar.collapsed ::deep li.nav-item .text-label {
    position: absolute;
    left: 4rem;
  }
  .sidebar.collapsed ::deep li.nav-item:not(:hover) {
    width: 3.75rem;
  }
  .sidebar.collapsed ::deep li.nav-item:hover {
    width: 12rem;
  }
  .sidebar.collapsed ::deep li.nav-item:hover .text-label {
    display: unset;
  }
  .sidebar.collapsed ::deep li.nav-item:hover a {
    background-color: var(--nav-menu-background);
    border: solid 1px var(--accent);
    border-left: none;
    font-weight: var(--bold, 600);
  }
  .sidebar.collapsed ::deep .version-info {
    display: none !important;
  }
}
@media screen and (max-width: 850px) {
  .page {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-gap: 1rem;
  }
  .page .main {
    overflow: hidden;
    position: relative;
    grid-row-start: 1;
  }
  .page ::deep .nav-bar {
    grid-row-start: 2;
  }
}
