@namespace FileFlows.Client.Pages.FileDrop
@inherits InputRegister

@page "/file-drop/settings"

<PageView Title="@lblTitle">

<Head>
    <button id="settings-save" class="btn" @onclick=@Save>
        @if(IsSaving)
        {
            @lblSaving
        }
        else
        {
            @lblSave
        }
    </button>

    <button @onclick=@OpenHelp  class="btn">
        @lblHelp
    </button>
</Head>

<Body>
<div class="settings">
    @if (initDone)
    {
        <FlowTabs>
            <FlowTab Title="General">
                <InputSwitch @bind-Value="Model.Enabled" Label="Labels.Enabled" Help="Turn on to enable FileDrop."/>
                <InputPeriod @bind-Value="Model.SessionExpireInMinutes"
                             Label="Session Length"
                             Help="How long users will be logged in for before needing to reauthenticate."
                             Seconds="false"/>
                <InputSwitch @bind-Value="Model.AllowRegistrations" Label="Allowed Registrations" Help="If new users can be registered."/>
                <InputNumber TItem="Int32" @bind-Value="Model.NewUserTokens" Label="New User Tokens" Min="0" Max="1000" Help="The number of tokens to give to new users."/>
                <InputText @bind-Value="Model.hCaptchaSiteId" Label="hCaptcha Site ID" Help="An optional Site ID for hCaptcha. When provided, users must successfully complete the hCaptcha test to register."/>
                <InputText @bind-Value="Model.hCaptchaSecret" Label="hCaptcha Secret" Help="The secret key to verify hCaptcha results."/>

            </FlowTab>
            <FlowTab Title="Passwords">
                <p>
                    Configure the password requirements for users.
                </p>
                <InputSlider @bind-Value="Model.FormsMinLength" Min="2" Max="20" Label="Password Length" Help="The minimum password length."/>
                <InputSwitch @bind-Value="Model.FormsRequireDigits" Label="Require Digits" Help="If user passwords require digits."/>
                <InputSwitch @bind-Value="Model.FormsRequireMixedCase" Label="Require Mixed Casing" Help="If user passwords require a mixture of lower and upper case characters."/>
                <InputSwitch @bind-Value="Model.FormsRequireSpecialCharacters" Label="Require Special Characters" Help="If user passwords require a special character."/>
            </FlowTab>
            <FlowTab Title="Single Sign On">
                <h3>Google</h3>
                <p>Visit the <a href="https://console.cloud.google.com/apis/credentials" rel="noopener noreferrer" target="_blank">Google Cloud Console</a> to configure an OAuth Client</p>
                <InputText @bind-Value=@Model.GoogleClientId Label="Client ID"/>
                <InputText @bind-Value=@Model.GoogleClientSecret Label="Client Secret"/>

                <hr/>

                <h3>Microsoft</h3>
                <p>Visit the <a href="https://portal.azure.coms" rel="noopener noreferrer" target="_blank">Azure Portal</a>
                    and create an App registration.</p>
                <InputText @bind-Value=@Model.MicrosoftClientId Label="Client ID"/>
                <InputText @bind-Value=@Model.MicrosoftClientSecret Label="Secret ID"/>

                <hr/>

                <h3>Custom</h3>
                <InputText @bind-Value=@Model.CustomProviderName Label="Name"/>
                <InputText @bind-Value=@Model.CustomProviderAuthority Label="Authority"/>
                <InputText @bind-Value=@Model.CustomProviderClientId Label="Client ID"/>
                <InputText @bind-Value=@Model.CustomProviderClientSecret Label="Client Secret"/>
            </FlowTab>
            <FlowTab Title="Home Page">
                <div style="display:flex;flex-direction: column;height: calc(100% - 1rem)">

                    <p>Here you can customise the home page for logged in users and set the custom HTML to show to the user.</p>
                    <p>If this is left blank, then the user will not have a home page and the first alphabetical flow will be their defacto landing page.</p>

                    <InputCode Language="html" @bind-Value="Model.HomePageHtml"/>
                </div>
            </FlowTab>
            <FlowTab Title="Custom CSS">
                <div style="display:flex;flex-direction: column;height: calc(100% - 1rem)">

                    <p>Here you can add custom CSS that will be added to every page in FileDrop.</p>

                    <InputCode Language="css" @bind-Value="Model.CustomCss"/>
                </div>
            </FlowTab>

            <FlowTab Title="Tokens">
                <p class="info">
                    To update user tokens in FileFlows you can make a <span class="important">POST</span> request to
                </p>
                <ul>
                    <li><span class="url">@(FileFlowsCallbackUrl)give-tokens/{tokens}</span></li>
                    <li><span class="url">@(FileFlowsCallbackUrl)set-tokens/{tokens}</span></li>
                </ul>
                <p class="info">
                    This request should be done on your sever side and not in the users browser.
                </p>
                <p class="info">
                    These URLs must be called with the <span class="important">Access Token</span> from <a href="/settings">Settings > Security</a> in the header field <span class="important">Authorize: {AccessToken}</span>.
                </p>

                <hr/>

                <InputText @bind-Value="@Model.TokenPurchaseUrl" Label="Token Purchase URL"
                           Help="This is the URL that will be opened for users to purchase new tokens.  It will include the include the query parameter 'uuid' for the users unique identifier"/>

                <InputSelect @bind-Value="BoundTokenPurchaseInPopup" Label="Open In" Options="openInOptions"/>
            </FlowTab>

            <FlowTab Title="Auto Tokens">
                <p>This feature allows you to configure automated token distribution for each user. For example, you can
                    allocate 10 free tokens daily to each user, with a cap of 100 tokens. If a user already has 90 tokens,
                    they will receive an additional 10, bringing their total to 100. However, if a user has 95 tokens and
                    is eligible for 10 more, the system will still limit their total to 100. Users with more than 100
                    tokens will not receive any additional free tokens.
                </p>
                <p>
                    To be eligible for token distribution, the user must have been created for a period longer than the
                    specified timeframe. For example, if the period is set to one week, the user must have an account
                    older than one week in order to receive the tokens.
                </p>
                <hr/>
                <InputSwitch @bind-Value="Model.AutoTokens" Label="Labels.Enabled"/>
                @if (Model.AutoTokens)
                {
                    <InputNumber TItem="Int32" @bind-Value="Model.AutoTokensAmount" Label="Tokens"/>
                    <InputNumber TItem="Int32" @bind-Value="Model.AutoTokensMaximum" Label="Maximum"/>
                    <InputPeriod @bind-Value="Model.AutoTokensPeriodMinutes" Label="Period"
                                 ShowWeeks="false" Seconds="false" ShowMinutes="false"/>
                }
            </FlowTab>
        </FlowTabs>
    }
</div>
</Body>
</PageView>