$borderColor: var(--input-background);

.fillspace {
    flex-grow: 1;
}

.flowtable-body .flowtable-select {
    display:none;
}

.flowtable-toolbar {
    display: flex;
    flex-direction: row;

    .flowtable-toolbar-buttons {
        flex-grow: 1;
        overflow: hidden;
    }
    
    ::deep .flow-table-button-separator {
        border-left:1px solid var(--border-color);
        height:1rem;
        display: inline-block;
        position: relative;
        top: 4px;
        width: 1px;
        margin: 0 0.25rem;
    }

    .flowtable-toolbar-filter {
        width: 16rem;
        position: relative;
        
        @media (max-width:849.99px){
            width:5rem;
            &:focus-within {
                width:18rem;
            }
        }
        

        input {
            background-color: transparent !important;
            width: calc(100% - 2px);
            line-height: 1rem;
            padding-right: 1.75rem;
            border: 1px solid var(--input-background) !important;

            &:focus {
                border-color: var(--accent);
            }
        }

        i {
            position: absolute;
            right: 8px;
            top: 7px;
            font-size: 0.8rem;
            color: rgba(var(--color-rgb), 0.5);
        }
    }

    ::deep button {
        font-weight: var(--bold, 600);
        background: transparent;
        color: rgba(var(--color-rgb), 0.8);
        border: unset;
        border-radius: 0 !important;
        font-size: 0.85rem;
        outline:none;

        &:hover {
            color: var(--color-rgb);
        }

        .icon {
            margin-right: 0.25rem;
        }
    }
}
@media screen and (max-width: 578px) {
    .flowtable-data {
        font-size: 0.85rem;
    }
}

.flowtable {
    position: relative !important;    
    max-width:100%;
    width:100%;
    height:100%;
    flex-grow:1;
    overflow: auto;
}


.flow-table-inner {
    height:100%;
    position: relative !important;
    display:flex;
    flex-direction:column;
}

@supports (-moz-appearance:none) 
{
    ::deep .flowtable-row {
        /** scrollbar on firefox */
        padding-right: 0.75rem;
    }
}


.flowtable-row {
    display: flex;
    flex-direction: row;
    user-select: none;
    position: relative;
    width: 100%;
    &:not(.no-styling)
    {
        border: solid 1px $borderColor;
        padding-left: 0.25rem;
        &:nth-child(odd) {
            background:rgb(255 255 255 / 3%);
        }

        &.selected {
            border-left:solid 3px var(--accent);
            padding-left:calc(0.25rem - 2px);
            background: var(--base);
        }
        &:not(.flowtable-header-row) {
            border-top-color: transparent;
            border-right-color: transparent;
            border-left-color: transparent;
            &:hover {
                background: var(--base-lighter);
            }
        }

        > span {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            height: 2.2rem;
            line-height: 2.2rem;

            &:not(.flowtable-select) {
                padding-left: 0.5rem;
            }

            &.pre-text {
                white-space: pre-line;
                height: unset;
                line-height: unset;
                margin: 0.3rem 0;
            }
            &.no-height {
                height: unset;
                line-height: unset;
                margin-bottom: auto;
                padding: 0.25rem 0;
            }
        }
    }
    &.disabled ::deep .column {
        > span, > div {
            opacity: 0.5;
        }
    }
}
.flowtable-header-row {
    padding-right: 0.7rem;
    font-weight: var(--bold, 600);
    background: rgba(var(--input-background-rgb), 0.3) !important;
    border-top-right-radius: var(--container-border-radius);
    border-top-left-radius: var(--container-border-radius);
}

.flowtable:not(.hide-head.hide-toolbar)
{
    ::deep .flowtable-body {
        height: calc(100% - 2.4rem);
    }
}
.flowtable.hide-head.hide-toolbar
{
    ::deep .flowtable-body {
        border-top: solid 1px $borderColor;
    }
}
::deep .flowtable-body {
    overflow-y: scroll;
    border-left: solid 1px $borderColor;
    border-bottom: solid 1px $borderColor;
    border-right: solid 1px $borderColor;
    border-bottom-right-radius: var(--container-border-radius);
    border-bottom-left-radius: var(--container-border-radius);
    &::-webkit-scrollbar-track {
        border-right: solid 1px $borderColor;
        border-left: solid 1px $borderColor;
    }
}

.flowtable-data {
    overflow:hidden;
    top: 1.75rem;
    flex-grow:1;
    font-size:0.9rem;
    display:flex;
    flex-direction: column;
    border-radius: var(--container-border-radius);
    background: var(--widget-background);
}


.hidden {
    display:none;
    width:unset !important;
}



@media screen and (max-width:578px) {
    .flowtable-toolbar {
        display: unset;
    }
    .flowtable-toolbar-filter {
        width: 100% !important;
        max-width:calc(100vw - 2.5rem);
    }

    .flowtable-data {
        top: 3.5rem;
    }
}


::deep {
    .resizer {
        position: absolute;
        top: 0;
        right: 0;
        width: 5px;
        cursor: col-resize;
        user-select: none;
        border-right: 2px solid rgba(var(--color-rgb), 0.05);
    }

    .resizer:hover,
    .resizing {
        border-right: 2px solid var(--accent);
    }

    .pager {
        text-align: right;
        border:solid 1px var(--border-color);
        border-top:none;
        .page-size {
            float: right;
            margin: 0.22rem 0.25rem 0.25rem;
            width: 4rem;
            text-align: center;

            select {
                background-color: transparent;
                color: var(--color) !important;
                border-color: transparent;
                height:1.75rem;
                font-weight: var(--bold, 600);

                &:focus {
                    outline: 1px solid var(--input-background);
                }

                &.select-one {
                    color: rgba(var(--color-rgb), 0.3) !important;
                }

                option {
                    background-color: var(--input-background) !important;
                    &:not(.select-one) {
                        color: var(--color) !important;
                    }

                    &:checked {
                        background-color: rgba(var(--accent-rgb), 0.3);
                    }
                }
            }
        }
        ul {
            margin:0.5rem;
            list-style: none;
            padding:0;
            li {
                display: inline-block;
                width: 2rem;
                text-align: center;
                margin: 0 0.25rem;
                cursor: pointer;
                color:white;
                opacity: 0.4;
                font-weight: var(--bold, 600);
                &:hover {
                    opacity: 0.7;
                }
                &.current-page {
                    opacity: 1;
                }
            }
        }
    }
    @media (max-width:576px) {
        .pager .page-size {
            width:3.5rem;
        }
    }
}

.column {
    // pointer-events: none;
    align-self: center;
    ::deep label {
        pointer-events: auto;
    }
}
