.fillspace {
  flex-grow: 1;
}

.flowtable-body .flowtable-select {
  display: none;
}

.flowtable-toolbar {
  display: flex;
  flex-direction: row;
}
.flowtable-toolbar .flowtable-toolbar-buttons {
  flex-grow: 1;
  overflow: hidden;
}
.flowtable-toolbar ::deep .flow-table-button-separator {
  border-left: 1px solid var(--border-color);
  height: 1rem;
  display: inline-block;
  position: relative;
  top: 4px;
  width: 1px;
  margin: 0 0.25rem;
}
.flowtable-toolbar .flowtable-toolbar-filter {
  width: 16rem;
  position: relative;
}
@media (max-width: 849.99px) {
  .flowtable-toolbar .flowtable-toolbar-filter {
    width: 5rem;
  }
  .flowtable-toolbar .flowtable-toolbar-filter:focus-within {
    width: 18rem;
  }
}
.flowtable-toolbar .flowtable-toolbar-filter input {
  background-color: transparent !important;
  width: calc(100% - 2px);
  line-height: 1rem;
  padding-right: 1.75rem;
  border: 1px solid var(--input-background) !important;
}
.flowtable-toolbar .flowtable-toolbar-filter input:focus {
  border-color: var(--accent);
}
.flowtable-toolbar .flowtable-toolbar-filter i {
  position: absolute;
  right: 8px;
  top: 7px;
  font-size: 0.8rem;
  color: rgba(var(--color-rgb), 0.5);
}
.flowtable-toolbar ::deep button {
  font-weight: var(--bold, 600);
  background: transparent;
  color: rgba(var(--color-rgb), 0.8);
  border: unset;
  border-radius: 0 !important;
  font-size: 0.85rem;
  outline: none;
}
.flowtable-toolbar ::deep button:hover {
  color: var(--color-rgb);
}
.flowtable-toolbar ::deep button .icon {
  margin-right: 0.25rem;
}

@media screen and (max-width: 578px) {
  .flowtable-data {
    font-size: 0.85rem;
  }
}
.flowtable {
  position: relative !important;
  max-width: 100%;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  overflow: auto;
}

.flow-table-inner {
  height: 100%;
  position: relative !important;
  display: flex;
  flex-direction: column;
}

@supports (-moz-appearance: none) {
  ::deep .flowtable-row {
    /** scrollbar on firefox */
    padding-right: 0.75rem;
  }
}
.flowtable-row {
  border: solid 1px var(--input-background);
  display: flex;
  flex-direction: row;
  user-select: none;
  position: relative;
  width: 100%;
  padding-left: 0.25rem;
}
.flowtable-row:nth-child(odd) {
  background: rgba(255, 255, 255, 0.03);
}
.flowtable-row:not(.flowtable-header-row) {
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}
.flowtable-row:not(.flowtable-header-row):hover {
  background: var(--base-lighter);
}
.flowtable-row.selected {
  border-left: solid 3px var(--accent);
  padding-left: calc(0.25rem - 2px);
  background: var(--base);
}
.flowtable-row.disabled ::deep .column > span, .flowtable-row.disabled ::deep .column > div {
  opacity: 0.5;
}
.flowtable-row > span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 2.2rem;
  line-height: 2.2rem;
}
.flowtable-row > span:not(.flowtable-select) {
  padding-left: 0.5rem;
}
.flowtable-row > span.pre-text {
  white-space: pre-line;
  height: unset;
  line-height: unset;
  margin: 0.3rem 0;
}
.flowtable-row > span.no-height {
  height: unset;
  line-height: unset;
  margin-bottom: auto;
  padding: 0.25rem 0;
}

.flowtable-header-row {
  padding-right: 0.7rem;
  font-weight: var(--bold, 600);
  background: rgba(var(--input-background-rgb), 0.3) !important;
  border-top-right-radius: var(--container-border-radius);
  border-top-left-radius: var(--container-border-radius);
}

.flowtable:not(.hide-head.hide-toolbar) ::deep .flowtable-body {
  height: calc(100% - 2.4rem);
}

.flowtable.hide-head.hide-toolbar ::deep .flowtable-body {
  border-top: solid 1px var(--input-background);
}

::deep .flowtable-body {
  overflow-y: scroll;
  border-left: solid 1px var(--input-background);
  border-bottom: solid 1px var(--input-background);
  border-right: solid 1px var(--input-background);
  border-bottom-right-radius: var(--container-border-radius);
  border-bottom-left-radius: var(--container-border-radius);
}
::deep .flowtable-body::-webkit-scrollbar-track {
  border-right: solid 1px var(--input-background);
  border-left: solid 1px var(--input-background);
}

.flowtable-data {
  overflow: hidden;
  top: 1.75rem;
  flex-grow: 1;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  border-radius: var(--container-border-radius);
  background: var(--widget-background);
}

.hidden {
  display: none;
  width: unset !important;
}

@media screen and (max-width: 578px) {
  .flowtable-toolbar {
    display: unset;
  }
  .flowtable-toolbar-filter {
    width: 100% !important;
    max-width: calc(100vw - 2.5rem);
  }
  .flowtable-data {
    top: 3.5rem;
  }
}
::deep .resizer {
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  cursor: col-resize;
  user-select: none;
  border-right: 2px solid rgba(var(--color-rgb), 0.05);
}
::deep .resizer:hover,
::deep .resizing {
  border-right: 2px solid var(--accent);
}
::deep .pager {
  text-align: right;
  border: solid 1px var(--border-color);
  border-top: none;
}
::deep .pager .page-size {
  float: right;
  margin: 0.22rem 0.25rem 0.25rem;
  width: 4rem;
  text-align: center;
}
::deep .pager .page-size select {
  background-color: transparent;
  color: var(--color) !important;
  border-color: transparent;
  height: 1.75rem;
  font-weight: var(--bold, 600);
}
::deep .pager .page-size select:focus {
  outline: 1px solid var(--input-background);
}
::deep .pager .page-size select.select-one {
  color: rgba(var(--color-rgb), 0.3) !important;
}
::deep .pager .page-size select option {
  background-color: var(--input-background) !important;
}
::deep .pager .page-size select option:not(.select-one) {
  color: var(--color) !important;
}
::deep .pager .page-size select option:checked {
  background-color: rgba(var(--accent-rgb), 0.3);
}
::deep .pager ul {
  margin: 0.5rem;
  list-style: none;
  padding: 0;
}
::deep .pager ul li {
  display: inline-block;
  width: 2rem;
  text-align: center;
  margin: 0 0.25rem;
  cursor: pointer;
  color: white;
  opacity: 0.4;
  font-weight: var(--bold, 600);
}
::deep .pager ul li:hover {
  opacity: 0.7;
}
::deep .pager ul li.current-page {
  opacity: 1;
}
@media (max-width: 576px) {
  ::deep .pager .page-size {
    width: 3.5rem;
  }
}

.column {
  align-self: center;
}
.column ::deep label {
  pointer-events: auto;
}

/*# sourceMappingURL=FlowTable.razor.css.map */
