@namespace FileFlows.Client.Components.Common

@if (Description != null)
{
    <div class="form-page-button-w-desc">
        <div class="fpb-desc">
            @Description
        </div>
        <div class="fpb-buttons">
            <button id="settings-save" class="btn" @onclick=@Save>
                @if (IsSaving)
                {
                    @lblSaving
                }
                else
                {
                    @lblSave
                }
            </button>

            <button @onclick=@OpenHelp class="btn btn-help">
                @lblHelp
            </button>
        </div>
    </div>
}
else
{
    <div class="form-page-buttons">
        <button id="settings-save" class="btn" @onclick=@Save>
            @if (IsSaving)
            {
                @lblSaving
            }
            else
            {
                @lblSave
            }
        </button>

        <button @onclick=@OpenHelp class="btn btn-help">
            @lblHelp
        </button>
    </div>
}