@mixin row {
  display: flex;
  flex-direction: row;
  border-bottom:1px solid var(--border-color);
  font-size: 0.9rem;
  align-items: center;
  padding: 0.25rem 0;
}
@mixin backgroundBar($alpha:0.05) {
  background: rgba(255, 255, 255, $alpha);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
@mixin bottomBar {
  position:absolute;
  bottom:0;
  left:0;
  height:0.25rem;
  background:var(--accent-2);
}

.file-table {
  height: 100%;

}

.file-table-row {
  @include row;
  position:relative;
  &.fm-processing-failed.has-message .center {
    display:grid;
    grid-template-columns: 1fr 8rem;
    .message {
      grid-column: 1 / span 2;
      font-weight: 600;
      font-size: 0.8rem;
      color: var(--red);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      > span {
        cursor: pointer;
        position:relative;
      }
    }
  }
  &.fm-processed
  {  
    margin: 0.5rem;
    border-radius: 0.5rem;
    overflow: hidden;
    .center {
      flex-direction: column;
      align-items: unset;
    }
    .size, .time {
      font-weight: var(--bold, 600);
      position: absolute;
      right:0;
      padding:0.5rem;
      background:rgb(48 48 48);
      width: fit-content;
    }
    .size {
      bottom:0;
      border-top-left-radius: 0.5rem;  
      border-top: solid 1px var(--base);
      border-left: solid 1px var(--base);
    }
    .time {
      top:0;
      border-bottom-left-radius: 0.5rem;
      border-bottom: solid 1px var(--base);
      border-left: solid 1px var(--base);
    }
  }
  .center {
    display: flex;
    align-content: center;
    width: 100%;
    overflow: hidden;
    align-items: center;
  }
}
.path {
  flex-grow:1;
  overflow: hidden;
  text-overflow: ellipsis;
  > span {
    cursor: pointer;
    position:relative;
  }
}
.time {
  width:8rem;
  min-width:8rem;
  text-align: center;
  > span {
    cursor: pointer;
    position:relative;
  }
}
.traits {
  display: flex;
  margin-top:0.5rem;
  .trait {
    border: solid 1px var(--info);
    font-size: 0.8rem;
    font-weight: var(--bold, 600);
    padding: 0 0.25rem;
    border-radius: 0.5rem;
    margin-right: 0.25rem;
    opacity: 0.75;
  }
}
.savings {
  @include backgroundBar;
}

.icon {
  .icon {
    height:2.25rem;
    width:3rem;
    cursor: pointer;
    position: relative;
  }
  .icon.thumbnail {
    height: 7rem;
    max-height: 7rem;
    min-height: 7rem;
    width: 7rem;
    max-width: 7rem;
    min-width: 7rem;
    cursor: pointer;
    position: relative;
    margin-right: 0.5rem;
    object-fit: cover;
    border-radius: 0.5rem;
    overflow: hidden;
  }
}

.no-files {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95%;
  place-content: center;
  font-size: 1.2rem;
  font-weight: var(--bold, 600);
  padding:1.47rem;
  i {
    font-size: 5rem;
    margin-bottom: 1rem;
  }
}

.view-more {
  font-weight: var(--bold, 600);
  text-align: center;
  padding: 1rem 4rem;
  display: block;
  background: var(--base-darker);
  border-radius: 3rem;
  margin: 2rem auto;
  color: var(--color) !important;
  text-decoration: none !important;
  width: fit-content;
  opacity: 0.8;
  &:hover {
    opacity: 1;    
  }
}

@media (max-width: 849.99px)
{
  .view-more {
    display: none;
  }
}