@namespace FileFlows.Client.Components.Common

<div id="@Uid" class="flow-multiselect">
    <div class="multiselect__control">
        <div class="multiselect__input_wrapper">
            <div class="multiselect__tags">
            </div>
            <input type="text" class="multiselect__input" placeholder="Select...">
        </div>
        <span class="multiselect__arrow">▼</span>
    </div>
    <div class="multiselect__dropdown">
        <ul class="multiselect__options">
        </ul>
    </div>
</div>