.flow-multiselect {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 40rem;  

  .multiselect__control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius:  0.25rem;
    padding: 0;
    cursor: pointer;
    background: var(--input-background);
    border:solid 1px transparent;

    &:focus-within {
      border: solid 1px var(--accent);
    }
  }

  .multiselect__input_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap:  0.25rem;
    border:solid 1px transparent;
    
    .multiselect__tags {
      display: flex;
      flex-wrap: wrap;
    }

    ::deep .multiselect__tag {    
      padding: 0.25rem 0.5rem;
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      margin: 0.25rem;
      border: solid 1px var(--accent);
      background: transparent;

      .multiselect__remove {
        margin-left: 0.25rem;
        cursor: pointer;
        font-weight: bold;
      }
    }
  }

  .multiselect__input {
    border: none !important;
    outline: none;
    flex: 1;
    padding:  0.25rem;
  }

  .multiselect__arrow {
    margin-left: 0.5rem;
  }

  .multiselect__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    background: var(--input-background);
    margin-top:  0.25rem;
    max-height: 20rem;
    overflow-y: auto;
    display: none;

    &.open {
      display: block;
    }

    .multiselect__options {
      list-style: none;
      margin: 0;
      padding: 0;

      ::deep .multiselect__option {
        padding: 0.5rem;
        cursor: pointer;

        &:hover {
          background-color: var(--accent);
        }
      }
    }
  }
}
