.vi-container {
    display:flex;
    flex-direction: column;
    height:100%;
    overflow: hidden;
    max-height: 100vh;
    position: relative;

    //&:not(.fullwidth){        
    //    max-width:1400px;
    //}

    &.flex .content {
        display:flex;
        flex-direction: column;
    }
    
    &.tab-view {
        .top-row .title {
            overflow: unset !important;
        }
    }
}

.page-view .top-row .other {
    margin-right: 2.5rem;
}

.content {
    padding: 1.5rem;
    flex-grow:1;
    overflow: auto;
    position:relative;
    background: var(--base-darkest);
}
.content-no-padding .content {
    padding:0;
}

.bottom-buttons {
    padding: 0 1.5rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    ::deep
    {
        a.btn, button {
            flex-grow: 1;
            flex-basis: 0;
            margin: auto;
            span {
                margin:auto;
            }
            + button {
                margin-left: 1rem;
            }
        }
    }
}
.fa-window-maximize {
    margin-right:0.5rem;
    cursor:pointer;
    position: relative;
    top: 0.25rem;
    &:hover {
        color:var(--accent);
    }
}