.vi-container {
    display:flex;
    flex-direction: column;
    height:100%;
    overflow: hidden;
    max-height: 100vh;
    position: relative;

    //&:not(.fullwidth){        
    //    max-width:1400px;
    //}

    &.flex .content {
        display:flex;
        flex-direction: column;
    }
    
    &.tab-view {
        .top-row .title {
            overflow: unset !important;
        }
    }
}


.top-row {
    width:100%;
    height: 3.5rem;
    min-height: 3.5rem;
    display: flex !important;
    align-items: center;
    padding:0 1.5rem;
    border-bottom: solid 1px var(--border-color);
}

.top-row {
    display:none;

    &.show-title {
        height: 3.5rem;
        display: flex !important;
        align-items: center;
        padding:1.5rem;
    }

    .title {
        flex-grow:1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: flex;
        font-size: 1.5rem;
    }
    .other {
        white-space:nowrap;
        margin-left:1rem;
        margin-right: -0.5rem;
        ::deep button {
            min-width:7rem;
            width:fit-content;
            padding: 0 0.75rem;
        }
        ::deep a {
            width: 7rem;
            text-align: center;
            display: inline-block;
            padding-top: 0.5rem;
            cursor:pointer;
        }
    }

    ::deep a, .btn-link {
        white-space: nowrap;
        margin-left: .5rem;
    }

    a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .icon {
        margin-right:0.5rem;
        margin-top: .25rem;
        color:var(--accent);
    }
}

.page-view .top-row .other {
    margin-right: 2.5rem;
}

.content {
    padding: 1.5rem;
    flex-grow:1;
    overflow: auto;
    position:relative;
    background: var(--base-darkest);
}
.content-no-padding .content {
    padding:0;
}

.bottom-buttons {
    padding: 0 1.5rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    ::deep
    {
        a.btn, button {
            flex-grow: 1;
            flex-basis: 0;
            margin: auto;
            span {
                margin:auto;
            }
            + button {
                margin-left: 1rem;
            }
        }
    }
}
.fa-window-maximize {
    margin-right:0.5rem;
    cursor:pointer;
    position: relative;
    top: 0.25rem;
    &:hover {
        color:var(--accent);
    }
}