@page "/"
@using FileFlows.Client.Components.Widgets

@namespace FileFlows.Client.Pages

@if (loaded)
{
    @if (App.Instance.IsMobile)
    {
        <FilesWidget />
    }
    else
    {
        <FlowSkyBox TItem="int" @ref=Skybox OnSelected=@SetSelected NoCount="true" />
        
        <div class="db-grid">
            
            @if (SelectedPage == 0)
            {
                <div class="grid grid-60-40 flex-grow">
                    <div class="flex-grow grid-vertical">
                        <div class="grid grid-3">
                            <FileOverviewWidget IsFilesProcessed="true"/>
                            <FileOverviewWidget IsFilesProcessed="false"/>
                            <CpuRamWidget/>
                            @* <StatusWidget OnUpdatesClicked="Status_OnUpdatesClicked"/> *@
                        </div>

                        <FilesWidget/>
                    </div>
                    <SystemWidget/>
                </div>
            }else if (SelectedPage == 1)
            {
                <div class="grid grid-60-40 flex-grow savings">
                    <LargestSavingsWidget/>
                    <LibrarySavingsSummaryWidget/>
                </div>
            }
            else if (SelectedPage == 2)
            {
                @if (UpdateInfoData.FileFlowsVersion != null && UpdateInfoData.HasExtensionUpdates)
                {
                    <div class="grid grid-60-40 flex-grow savings">
                        <FileFlowsUpdateWidget Data="UpdateInfoData" CanUpdate="@(Profile.LicensedFor(LicenseFlags.AutoUpdates))"/>
                        <ExtensionUpdatesWidget Data="UpdateInfoData" Profile="Profile"/>
                    </div>
                }
                else if (UpdateInfoData.FileFlowsVersion != null)
                {
                    <div class="grid flex-grow">
                        <FileFlowsUpdateWidget Data="UpdateInfoData" CanUpdate="@(Profile.LicensedFor(LicenseFlags.AutoUpdates))"/>
                    </div>
                }
                else if (UpdateInfoData.HasExtensionUpdates)
                {
                    <div class="grid flex-grow">
                        <ExtensionUpdatesWidget Data="UpdateInfoData" Profile="Profile"/>
                    </div>
                }
            }
        </div>
    }
}